[mysqld@svc1]
server-id		= 2
port			= 3306
socket          = /var/run/mysqld/mysql_svc1.sock
datadir         = /opt/mysql_svc1/
mysqlx          = 0
log-error		= /var/log/mysqld_svc1.log

[mysqld@svc2]
server-id		= 2
port			= 3307
socket          = /var/run/mysqld/mysql_svc2.sock
datadir         = /opt/mysql_svc2/
mysqlx          = 0
log-error		= /var/log/mysqld_svc2.log

[mysqld@svc3]
server-id		= 3
port			= 3308
socket          = /var/run/mysqld/mysql_svc3.sock
datadir         = /opt/mysql_svc3/
mysqlx          = 0
log-error		= /var/log/mysqld_svc3.log
